<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home.calendar" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list_event" />
        <activity android:name=".day_list_test" />
        <activity android:name=".new_event_elastic" />
        <activity android:name=".modify_event" />
        <activity
            android:name=".UserPage"
            android:label="@string/title_activity_user_page" >
        </activity>
    </application>

</manifest>
